@import "../../scss/base";

.app {
  position: relative;
  overflow: hidden;
  //max-width: 100vw;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 	"header header 	header"
                        "main 	main 	  main"
                        "footer footer 	footer";

  .app-ready & {
    display: grid;
  }
}

