// adaptive images
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

// google map fix
.gm-style img {max-width: none}

iframe, video {
  width: 100%;
}

[v-cloak] {
  display: none;
}

/*result*/
.app_result {
  flex: 1 1 auto;
  overflow: hidden;

    display: flex;

  .hljs {
    overflow-x: initial !important;
  }
}
.result-item {
  border: 5px solid #343436;
  background-color: #1D1F20;

    flex: 1 1 33.33%;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;

  .heading {
    background-color: #1A1C1D;
    color: #ccc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 5px 25px;
    > * {
      margin-bottom: 0;
    }
  }
  textarea {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
  pre {
    overflow: initial;
  }
}

.result-temp {
  flex: 1 1 auto;
  overflow: auto;
  font-size: .875rem;
}

/*---------POPUP---------*/
.popup {
  //display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  .app-ready & {
    display: block;
  }
}

.popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(#fff, .5);

}

.popup_box {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95vw;
  height: 95vh;
  padding: $global-padding;
  background-color: #1A1C1D;
  .popup_delete-tab & {
    width: auto;
    height: auto;
  }
}
.popup_foot {
  padding-top: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}