$sidebar-indent: 10px;


html {
  box-sizing: border-box;
  font-size: $global-font-size;
  min-width: 768px;
}
*, *:before, *:after {
  box-sizing: inherit;
}

* {max-height: 1000000px;}

body {
  position: relative;
  font-family: $base-font-sans-serif;
  font-weight: normal;
  line-height: $line-height-base;
  color: $base-text-color;
  background: $base-background-color;
  min-width: $base-min-width;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//
//------- General elements -----------
//

//[v-cloak] { display: none }

ul:not([id]):not([class]) {
  list-style: none;
  padding: 0;
  margin: 0 0 15px;
  > li {
    padding-left: 0;
    margin-bottom: 5px;
    @include media(">=tablet") {
      margin-bottom: 0;
    }
    &:before {
      content: "";
      display: inline-block;
      border: 4px solid transparent;
      border-left: 4px solid $dark;
      margin-right: 7px;
    }
  }
}

.btn {
  padding: .5em 1em;
  border-radius: $bdrs;
  color: green;
  &--alert {
    background-color: red;
  }
  &--edit {
    background-color: transparent;
    margin-left: -1em;
  }
  &--add {
    background-color: transparent;
  }
}

.spinner-wrap {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 9999;
  background-color: rgba(#000, .8);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  .app-ready & {
    display: none;
  }
}

.spinner {
  font-size: 10vw;
  animation: spinner 1s infinite ease-in-out;
}

@keyframes spinner {
  0% {transform:rotate(0deg)}
  100%{transform:rotate(359deg)}
}

//.content-indent {
//  padding-left: 15px;
//  padding-right: 15px;
//  @include media('>=tablet') {
//    padding-left: 30px;
//    padding-right: 30px;
//  }
//}
//
//.content-wrap {
//  margin-left: auto;
//  margin-right: auto;
//  @include media('>=tablet') {
//    max-width: 1170px;
//  }
//  &.content-indent {
//    @include media('>=tablet') {
//      max-width: 1230px;
//    }
//  }
//  &:empty {
//    display: none;
//  }
//}


///* ---------------------------------------------------------
//   1. Global layout
//   ---------------------------------------------------------*/
//.page {
//  display: flex;
//  flex-direction: column;
//  min-height: 100vh;
//}
//.page_header {
//  flex: 0 0 auto;
//  width: 100%;
//}
//
//.page_main {
//  flex: 1 1 auto;
//  //width: 100%;
//  @include media('>=large') {
//    padding-top: $vert-indent;
//    padding-bottom: $vert-indent;
//  }
//}
//
//.page_content-wrap {
//  @include media('>=xlarge') {
//    display: flex;
//    align-items: flex-start;
//  }
//}
//
//.page_content {
//  flex: 1 1 100%;
//  padding: $vert-indent 15px;
//  @include media('>=xlarge') {
//    border: 1px solid $col-border;
//    padding: 33px ($vert-indent * 2);
//  }
//}
//
//.page_sidebar {
//  @include media('>=xlarge') {
//    border: 1px solid $col-border;
//    margin-left: $sidebar-indent;
//    flex: 0 0 240px;
//  }
//  &--left {
//    @include media('>=xlarge') {
//      order: -1;
//      margin-left: 0;
//      margin-right: $sidebar-indent;
//    }
//  }
//}
//
//.page_title {
//  margin-bottom: 23px;
//  color: $col-page_title;
//  .h2 {
//    text-transform: capitalize;
//    font-weight: normal;
//    margin-bottom: 0;
//    &:not(:last-child) { margin-bottom: .75rem; }
//  }
//  .h5 {
//    font-weight: 300;
//    font-size: 1rem;
//    line-height: 1.2;
//    margin-bottom: 0;
//  }
//}
//
//.page_footer {
//  flex: 0 0 auto;
//  width: 100%;
//}
