// Typography

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h {
  font-weight: bold;
  margin: 0 0 .5em;
  color: inherit;
}

h1, .h1 {
  font-size: 1.75rem; //28px
}

h2, .h2 {
  font-size: 1.5rem; //24px
}

h3, .h3 {
  font-size: 1.25rem; //20px
}

h4, .h4 {
  font-size: 1.125rem; //18px
}

h5, .h5 {
  font-size: 1rem; //16px
}

h6, .h6 {
  font-size: .875rem; //14px
}

p {
  margin: 0 0 1em;
}

a {
  @include multi-transition (color, background-color);
  text-decoration: none;
  &:not([class]) {
    color: $col-primary;
    &:hover {
      color: $col-primary-hover;
    }
  }
}

a, button, img {
  @include media('>=desktop') {
    &:focus {
      outline: none;
    }
  }
}
