section.app_result(
  v-if="menu"
  :class="codeStyles")
  .result-item.html-result
    .heading
      h4 HTML
    .result-temp.hljs
      div(v-for='tab in menu')
        pre(
        v-for='temp in tab.tabContent'
        v-show='temp.tempShow'
        @keyup.tab='pressTabButton'
        v-highlightjs='temp.tempHTML'
        contenteditable='true'
        spellcheck='false'
        ) /*-- {{temp.tempName}} --*/
          code
  .result-item.css-result
    .heading
      h4 CSS
    .result-temp.hljs
      div(v-for='tab in menu')
        pre(
        v-highlightjs='temp.tempCSS'
        v-for='temp in tab.tabContent'
        v-show='temp.tempShow'
        contenteditable='true'
        spellcheck='false'
        ) /*-- {{temp.tempName}} --*/
          code
  .result-item.js-result
    .heading
      h4 JS
    .result-temp.hljs
      div(v-for='tab in menu')
        pre(
        v-highlightjs='temp.tempJS'
        v-for='temp in tab.tabContent'
        v-show='temp.tempShow'
        contenteditable='true'
        spellcheck='false'
        ) //-- {{temp.tempName}} --
          code