section.app_settings
  .app_tab-wrap
    // список табов
    ul.app_tab-list(v-if="menu")
      li.app_tab(
      v-for="(tab, index) in menu"
      :key="tab.id"
      :class="{\
              active: tabSelect === index,\
              edit: tabEdit === index}"
      )
        button.btn-tab(type="button"
        @click="tabSelect = index"
        @dblclick="editTab(index)"
        )
          span {{ tab.tabName }}
        .tab_edit-box(v-if="tabEdit === index")
          input(type="text"
          v-model="tab.tabName"
          @blur="cancelTab()"
          @change="saveTab()"
          ref="inputFocus"
          )
          button.btn--add.fa.fa-trash-o(type="button"
          @click="deleteTab(index);"
          )
    // кнопка добавления табов
    .app_tab.add-tab
      button.btn-tab(type="button" @click="addTab")
        i(aria-hidden="true").fa.fa-plus
        | &ensp;
        i(aria-hidden="true").fa.fa-folder-open
  .app_component-box
    // список шаблонов
    ul.app_tab-content(v-if="currentTabContent")
      li.app_component(
      v-for="(temp, index) in currentTabContent"
      :key="temp.id"
      )
        label
          input.checkbox(type="checkbox" v-model="temp.tempShow")
          | &ensp;
          span {{ temp.tempName }}

        button.btn--edit.fa.fa-pencil(type="button"
        v-if="editMode"
        @click="openPopupTemplate('edit', temp, index)")

      li
        button.btn--add(type="button" @click="openPopupTemplate('new')")
          i(aria-hidden="true").fa.fa-plus &ensp;
          | New
