<template lang="pug">

  section.popup.popup_new-template(v-if="popupSettings.popupIsOpen")
    .popup-overlay(@click="cancelPopup()")
    .popup_box
      header.popup_head
        h1 {{ popupTitle }}
        label(style="display:inline-block;")
          input(type='text' placeholder='Template name'
            v-model='editTemplate.tempName')
          //input(type='text', placeholder='Template name', v-model='templateEditVar.temp.tempName', v-if='popupEditShow')
        button.btn(
          v-if="popupSettings.popupType === 'edit'"
          @click='deleteTemplate'
          ) Delete template
      .app_result
        .result-item.html-result
          .heading
            h4 HTML
          textarea(placeholder='HTML'
            v-model='editTemplate.tempHTML')
          //textarea(placeholder='HTML', v-model='templateEditVar.temp.tempHTML', v-if='popupEditShow')
        .result-item.css-result
          .heading
            h4 SCSS
          textarea(placeholder='CSS'
            v-model='editTemplate.tempCSS')
          //textarea(placeholder='CSS', v-model='templateEditVar.temp.tempCSS', v-if='popupEditShow')
        .result-item.js-result
          .heading
            h4 JS
          textarea(placeholder='JS'
            v-model='editTemplate.tempJS')
          //textarea(placeholder='JS', v-model='templateEditVar.temp.tempJS', v-if='popupEditShow')
      footer.popup_foot
        button.btn.btn--alert(@click="cancelPopup()") Cancel
        button.btn(@click="saveTemp()") Save

</template>

<script src="./template.js"></script>

<style lang="scss" scoped>
 @import "./template";
</style>