@import "../../scss/base";

.app_main {
  grid-area: main;
  padding-top: $global-padding;
  width: 100%;
  background-color: #343436;
  overflow: hidden;
  display: flex;
  flex-direction: column;

}

/*---------TABS---------*/
.app_settings {


}

.app_tab-wrap {
  display: flex;
  position: relative;
  padding: 0 $global-padding;
  border-bottom: 1px solid rgba(#fff, .25);
  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -1px;
    top: 0;
    width: 150px;
    background: linear-gradient(to left, #343436 70px, rgba(#343436, 0) 100%);
  }
}

.app_tab-list {
  padding: 0 12px;
  margin: 0 0 -1px;
  list-style-type: none;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  flex: 0 1 auto;
}
.app_tab {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0 10px;
  position: relative;
  border-top: 1px solid rgba(#fff, .25);
  border-bottom: none;
  background-color: $tab-bg;
  &:before, &:after {
    content: '';
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 19px;
    border: 1px solid rgba(#fff, .25);
    border-bottom: none;
    background-color: $tab-bg;
  }
  &:before {
    left: -4px;
    transform: skew(-20deg);
    transform-origin: top right;
    border-right: none;
    border-radius: 4px 0 0 0;
  }
  &:after {
    right: -4px;
    transform: skew(20deg);
    transform-origin: top left;
    border-left: none;
    border-radius: 0 4px 0 0;
    z-index: 2;
  }
  &.active {
    background: #1A1C1D;
    &:before, &:after {
      background: #1A1C1D;
      border-color: rgba(#fff, .25);
      z-index: 3;
      // border-bottom: 1px solid #1A1C1D;
    }
    .btn-tab:after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: -17px;
      right: -17px;
      height: 2px;
      z-index: 4;
      background: #1A1C1D;
    }
  }
  &.edit {
    .btn-tab {
      opacity: 0;
      padding-left: 3.5em;
    }
  }
  &.add-tab {
    position: relative;
    z-index: 1;
    flex: 0 0 auto;
  }
}

.btn-tab {
  background-color: transparent;
  padding: .5em .5em;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  span {
    position: relative
  }
  &:hover:before {
    background: #1A1C1D;
  }
}

.tab_edit-box {
  position: absolute;
  left: -17px;
  right: -17px;
  top: 0;
  display: flex;
  align-items: center;
  input {
    margin: 0;
    width: calc(100% - 5em);
    padding: .5em 0;
    margin-left: 1.5em;
    text-transform: uppercase;
    background-color: rgba(#fff, .08);
  }
  .btn--edit {
    &:hover {
      color: red;
    }
  }
}
/*---------TAB Content---------*/
.app_component-box {
  //border-top: 1px solid rgba(#fff, .25);
  background-color: #1A1C1D;
}
.app_tab-content {
  height: 7em;
  padding: $global-padding/2 $global-padding 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: baseline;
  align-content: flex-start;

}
.app_component {
  display: inline-block;
  width: 14%;
  padding: 0 10px 10px 0;
  margin-right: 35px;
  white-space: nowrap;
  label {
    cursor: pointer;
  }
  .checkbox {
    vertical-align: middle;
  }
  span {
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    vertical-align: middle;
  }
}

/*---------RESULT---------*/
.app_result {
  flex: 1 1 auto;
  overflow: hidden;
    display: flex;
  .hljs {
    overflow-x: initial !important;
  }
}
.result-item {
  border: 5px solid #343436;
  background-color: #1D1F20;
    flex: 1 1 33.33%;
    max-width: 33.33%;
    display: flex;
    flex-direction: column;
  .heading {
    background-color: #1A1C1D;
    color: #ccc;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    padding: 5px 25px;
    > * {
      margin-bottom: 0;
    }
  }
  textarea {
    flex: 1 1 auto;
    margin-bottom: 0;
  }
  pre {
    overflow: initial;
  }
}

.result-temp {
  flex: 1 1 auto;
  overflow: auto;
  font-size: .875rem;
}