<template lang="pug">
  main.app_main
    include ./blocks/tab-menu.pug
    include ./blocks/result.pug
    popup-template(
      ref="sidebar"
      v-model="editTemplate"
      :popupSettings="settingsTemplate"
      @close-popup="closePopupTemplate()"
      @save-template="savePopupTemplate()"
      @delete-template="deletePopupTemplate()"
    )
    //popup-delete-tab

</template>

<script src="./app-main.js"></script>

<style lang="scss" scoped>
 @import "./app-main";
</style>