// Typography

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
.h {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 .5em;
  @include media('>=tablet') {
    margin-bottom: 1em;
  }
}

h1,
.h1 {
  font-size: 2rem;
}

h2,
.h2 {
  font-size: 1.5rem;
}

h3,
.h3 {
  font-size: 1.25rem;
}

h4,
.h4 {
  font-size: 1.125rem;
}

h5,
.h5 {
  font-size: 1rem;
}

h6,
.h6 {
  font-size: .8rem;
}

p {
  margin: 0 0 1.2em;
}

a {
  color: inherit;
  text-decoration: underline;
  transition: color $as, background-color $as, border-color $as;
  &:hover {
    color: $green;
  }
}