<template lang="pug">
  header.app_header
    span {{userName}}
    button.btn(type="button" @click="signOut()") Log out

  
</template>

<script src="./header.js"></script>

<style lang="scss" scoped>
 @import "./header";
</style>