$breakpoint: (
  'widescreen': 1200px,
  'desktop': 1024px,
  'tablet': 768px,
  'phone': 480px,
  'xs-phone': 320px,
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// Colors
// Color calculator - http://razorjam.github.io/sasscolourfunctioncalculator/
// Color names - http://name-of-color.com/
$light: #111;
$green: green;
$dark: #898998;
$errore: red;

$global-padding: 30px;
$bdrs: 12px;
$tab-bg: #343436;
$tab-bg-act: #1A1C1D;


$white: #fff;
$black: #000;

$col-page_title: #333;
$col-txt: #fff;
$col-txt2: #747780;
$disable-txt: #a6a6a6;


$bg-footer: #36363a;
$bg-article: #f2f2f2; //Static, Article, Registration, Affiliations, .popup-login_footer

$placeholder: #9d9d9c;

$col-primary: #ea7925;
$col-primary-hover: #d55d04;

$box-shad: 0 2px 7px 0px rgba(#000, .3);

$font-path: './assets/fonts';

/*----- Form var -----*/
$col-border: #d9d9d9;
$col-focus: #7f7f7f;
$col-error: #f8857c;
$col-success: #bad76d;
$col-placeholder: #c6c6c6;
$default-border: 2px solid $col-border;
$input-height: 2.5rem;
$input-holder-margin: .75rem;

/*----- Global layout -----*/
$collapse-menu: 1200px;
$sidebar-indent: 10px;
$vert-indent: 20px;


/*----- Font -----*/
$base-font-sans-serif: 'robotocondensed', 'Helvetica',  'Arial', sans-serif;

/*----- Body -----*/
$base-text-color: $col-txt;
$base-background-color: $white;
$global-font-size: 16px;
$line-height-base: 1.6;
$base-font-family: $base-font-sans-serif ;

$vertical-rhythm: ($line-height-base * 1em);

$base-min-width: 768px;

$animation-speed: .3s; // for mixin
