@import "../../scss/base";

.app_footer {
  grid-area: footer;
  padding: 10px $global-padding;
  font-size: .875rem;
  background: linear-gradient(90deg, #5b5b5b, #545454);
  border-top: 1px solid #7d7d7d;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

select {
  color: #000;
}