<template lang="pug">
  footer.app_footer
    div
      a(href="https://github.com/StetsenkoAnton/Builder/issues" target="_blank")
        i(aria-hidden="true").fa.fa-bug &ensp;
        | Add issue
    div
      label.form-row
        span.input-holder Edit mode
        input.input-holder(type="checkbox"
          v-model="editMode"
          @change="setEditMode()"
          )
      label.form-row
        span.input-holder Change style code
        select.input-holder(
          v-model="codeStyle"
          @change="setCodeStyle()"
          )
          option(value="agate") agate
          option(value="androidstudio") android studio
          option(value="atelier-savanna-dark") atelier savanna dark
          option(value="atelier-savanna-light") atelier savanna light
          option(value="atom-one-dark") atom one dark
          option(value="atom-one-light") atom one light
          option(value="codepen-embed") codepen embed
          option(value="color-brewer") color brewer
          option(value="darcula") darcula
          option(value="darkula") darkula
          option(value="foundation") foundation
          option(value="github") github
          option(value="github-gist") github gist
          option(value="googlecode") googlecode
          option(value="monokai-sublime") monokai sublime
</template>

<script src="./footer.js"></script>

<style lang="scss" scoped>
 @import "./footer";
</style>