//
//------- Layout -----------
//
#app {
	position: relative;
	overflow: hidden;
	max-width: 100vw;
	display: none;
	@include media('>=desktop') {
		height: 100vh;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: auto 1fr auto;
		grid-template-areas: 	"header header 	header"
        	               		"main 	main 	main"
            	           		"footer footer 	footer";
	}
	.app-ready & {
		display: block;
		@include media('>=desktop') {
			display: grid;
		}
	}
}



.app_header {
	grid-area: header;
}

.app_main {
	grid-area: main;
}

.app_footer {
	grid-area: footer;
}

//
//------- General elements -----------
//

//[v-cloak] { display: none }

ul:not([id]):not([class]) {
	list-style: none;
	padding: 0;
	margin: 0 0 15px;
	> li {
		padding-left: 0;
		margin-bottom: 5px;
		@include media(">=tablet") {
			margin-bottom: 0;
		}
		&:before {
			content: "";
			display: inline-block;
			border: 4px solid transparent;
			border-left: 4px solid $dark;
			margin-right: 7px;
		}
	}
}

.btn {
	padding: .5em 1em;
	border-radius: $bdrs;
	color: green;
	&--alert {
		background-color: red;
	}
	&--edit {
		background-color: transparent;
		margin-left: -1em;
	}
	&--add {
		background-color: transparent;
	}
}

.spinner-wrap {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	z-index: 9999;
	background-color: rgba(#000, .8);
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	.app-ready & {
		display: none;
	}
}

.spinner {
	font-size: 10vw;
	animation: spinner 1s infinite ease-in-out;
}

@keyframes spinner {
  0% {transform:rotate(0deg)}
  100%{transform:rotate(359deg)}
}